<nav class="navbar navbar-expand-lg  mytop">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLHocGy1gvqyWPzHvC_a86yRhBflIn2r1U9eZnBtgieS8vPhZA&s" alt="logo">
  <h1 class="navbar-brand ">Github Search</h1>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link repo" routerLink="profile">Repositories <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link user" routerLink="search">User Information <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
