<link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">

<div class="container">
  <hr>
  <div class="jumbotron">
      <h1>GIT-APP</h1>
      <form action="" class="search">
        <input type="text" placeholder="Search Username.." class="form-control" [(ngModel)]="username" name="name"
          (keyup)="findProfile()">
      </form>

    
    
  </div>
  
  <div class="text-center">
    <h2 class="panel-title">REPOSITORIES</h2>
    <div class="row">
      <div class="card col-4 repo" *ngFor="let repo of repos">
        <div class="card-body">
          <p>{{repo.name}}</p>
          <p>{{repo.description}}</p>
        </div>
        <div class="card-footer">
          <p> <a href="{{repo.html_url}}" target="_blank" class="btn btn-sm btn-info pull-right">View on
              github</a></p>
        </div>
        <br>
      </div>
    </div>
  </div>

</div>
